
/*GALERIA-ZOOM IMAGENES ---------------------------------------------------------------------------------------------------------------------*/
.intro-titulo {
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.imagen-galeria {
    cursor: pointer;
    overflow: hidden;
}

.galeria {
    border-radius: 1rem;
    max-width: 100%;
    transition: transform .5s ease;
    filter: grayscale(30%);
}

.galeria:hover {
    transform: scale(1.03) !important;
    filter: grayscale(0%);
}